<!-- <p>
  home works!
</p> -->

<!--style="height:50%; width:30%;"  -->
<!-- <div class="container" style="max-width:100%; width:100%;"  >

  <span class="row">
    <span class="col-md-8" >
      <div class="container" >
      <img class="img-responsive" src="../../../assets/rootMap.PNG" style='position:relative;' border="0" alt="Null">
      </div>
    </span>

    <span class="col-md-4">
    <app-buildinglist></app-buildinglist>
    </span>

  </span> 

</div>



<p>
  <a href="MY WEBSITE LINK" target="_blank">
    
  </a>
</p> -->

 <div class="jumbotron" style="max-width:100%; width:100%;"  >


    <h1>Welcome to UTD!</h1>

    <div class="container">
    <!-- <div class="col-md-3">
      </div> -->
    <div class="col-sm-offset-3 col-md-6">
    <img src="../../../assets/utdsymbol.jpg">
     </div>
    <!-- <div class="col-md-3">
        </div> -->
    </div>

    <br/>
    UTD student site made by students, for students.
    *We do not directly represent UTD.

    <br/>
<!-- 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control" id="myInput" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>  -->


</div>