
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Facilities Management</h1>

<div style="width:300px;"><img src="../../../../assets/fm.png" style="width:100%;height:100%;"></div>
<br/>
<br/>

<a href="http://www.utdallas.edu/locator/FM_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>


<div  class="include-piece">&nbsp;</div>
<div id="page-content">
<div>Maintenance</div>
<div>Custodial Services</div>
<div>Engineering Planning</div>
<div>Construction and Planning</div>
<div>Grounds Maintenance</div>
<div>Key Shop</div>
<div>Plant Operations</div>
<div>Utilities and Energy Management</div>
</div>