
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Edith O'Donnell Arts & Technology</h1>

<div style="width:300px;"><img src="../../../../assets/atc.png"style="width:100%;height:100%;"></div>
<br/>
<br/>
<div style="width:300px;"><img src="../../../../assets/atc-2015.jpg"style="width:100%;height:100%;"></div>
<br/>
<br/>

<a href="http://www.utdallas.edu/locator/ATC_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Art Studios</div>
    <div>Dark Rooms</div>
    <div>Digital Sound</div>
    <div>Exhibition Gallery
    <div>Film Development</div>
    <div>Game Library</div>
    <div>Photography Studios</div>
    <div>Recording Studios</div>
</div>
</div>