<a [routerLink]="['/housing']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Phase 2</h1>

<div style="width:300px;"><img src="../../../../assets/p2-building.png" style="width:100%;height:100%;"></div>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Apartment 14</div>
    <div>Apartment 15</div>
    <div>Apartment 16</div>
    <div>Apartment 17</div>
    <div>Apartment 18</div>
    <div>Apartment 19</div>
    <div>Apartment 20</div>
    <div>Apartment 21</div>
    <div>Apartment 22</div>
    <div>Apartment 23</div>
    <div>Clubhouse (C) </div>
</div>
