
<a href="./building" class="btn btn-warning">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Synergy Park North</h1>

<div style="width:300px;"><img src="../../../../assets/spn.png"style="width:100%;height:100%;"></div>
<br/>

<a href="http://www.utdallas.edu/locator/SPN_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
<div>Audit</div>
<div>Engineering and Computer Science</div>
<div>Institutional Equity and Compliance</div>
<div>UTDesign</div>
<div>Web Services</div>
</div>