<div class="container" style="max-width:100%; width:100%;"  >

  <span class="row">
    <span class="col-md-8" >
      <div class="container" >
      <img class="img-responsive" src="../../../assets/parkingheatmap.PNG" style='position:relative;' border="0" alt="Null">
      </div>
    </span>


    <span class="col-md-4">
      <h2> Parking Legend</h2>

      <br/>
      <img class="img-responsive" src="../../../assets/parkinglegend.PNG" style='position:relative;' border="0" alt="Null">
    
    </span>

  </span> 

</div>