<a href="./housing" class="btn btn-warning">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Phase 1</h1>

<div style="width:300px;"><img src="../../../../assets/p1-building.png" style="width:100%;height:100%;"></div>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Apartment 2</div>
    <div>Apartment 3</div>
    <div>Apartment 4</div>
    <div>Apartment 5</div>
    <div>Apartment 6</div>
    <div>Apartment 7</div>
    <div>Apartment 8</div>
    <div>Apartment 9</div>
    <div>Apartment 10</div>
    <div>Apartment 11</div>
    <div>Apartment 12</div>
</div>