
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Student Services Building Addition</h1>

<div style="width:300px;"><img src="../../../../assets/ssb.png"style="width:100%;height:100%;"></div>
<br/>

<a href="http://www.utdallas.edu/locator/SSA_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
<div>Comet Card Office</div>
        <div>Student Union Activities Advisory Board</div>
        <div>Student Programs</div>
        <div>Office of Student Volunteerism</div>
        <div>Military and Veteran Center</div>
        <div>Center for Students in Recovery</div>
        <div>Vice President for Student Affairs</div>
        <div>Outtakes</div>
    </div>