<a [routerLink]="['/housing']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Phase 8</h1>

<div style="width:300px;"><img src="../../../../assets/p8-building.png" style="width:100%;height:100%;"></div>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Apartment 53</div>
    <div>Apartment 54</div>
    <div>Apartment 55</div>
    <div>Apartment 56</div>
    <div>Apartment 57</div>
    <div>Apartment 58</div>
    <div>Apartment 59</div>
    <div>Clubhouse (C)</div>
    </div>