
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Naveen Jindal School of Management</h1>

<div style="width:300px;"><img src="../../../../assets/SOM.png"style="width:100%;height:100%;"></div>
<br/>
<br/>
<a href="http://www.utdallas.edu/locator/JSOM_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Career Management Center</div>
<div>Coffee Corner</div>
    <div>Computer Labs</div>
    <div>Graduate Lounge</div>
    <div>Jason’s Deli</div>
        <div>School of Management Advising</div>
            <div>Study Rooms</div>
                <div>Undergraduate Lounge</div>
                    <div>Writing Lab</div>
</div>