
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">North Office Building</h1>

<div style="width:300px;"><img src="../../../../assets/nb.png"style="width:100%;height:100%;"></div>
<br/>
<br/>
<a href="http://www.utdallas.edu/locator/NB_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Physics Research</div>
</div>