 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLink="/" routerLinkActive="active" class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLink="/building" routerLinkActive="active" class="nav-item">
        <a class="nav-link">building</a>
      </li>
      <li routerLink="/construction" routerLinkActive="active" class="nav-item">
        <a class="nav-link">construction</a>
      </li>
      <li routerLink="/housing" routerLinkActive="active" class="nav-item">
        <a class="nav-link">housing</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">




<div class="row" >
<div class="col-md-1" style="background-color:red;">
	<div style="height:500px">
	col-md-1
	</div>
</div>
<div class="col-md-10">
 <router-outlet></router-outlet>
</div>
<div class="col-md-1" style="background-color:red;">
 <div style="height:500px">
	col-md-1
	</div>
</div>

</div>


</div>


<footer class="footer">
<div class="container">
	 hey
		</div>
</footer>
