.nav-item{

font-size: 13px;
font-family: sans-serif;

}

/*
#menu-outer {
	height: 84px;
}*/

.table {
	display: table;   /* Allow the centering to work */
	margin-left: 275px;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}