

<div class="container">


	 <nav class="navbar navbar-toggleable-md navbar-light bg-faded"  >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style=" font-size: 25px; color: green;" >{{title}}</a>
 `  
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#008542;">
    <div id="menu-outer">
    <div class="table">
    <ul class="navbar-nav mr-auto">
      <li routerLink="/" routerLinkActive="active" class="nav-item active" style="">
        <a style="color:white; " class="nav-link" >Home </a>
      </li>
      <li routerLink="/building" routerLinkActive="active" class="nav-item">
        <a style="color:white" class="nav-link">Building</a>
      </li> 
      <!-- <li routerLink="/construction" routerLinkActive="active" class="nav-item">
        <a class="nav-link"><strong>Construction</strong></a>
      </li> -->
      <li routerLink="/housing" routerLinkActive="active" class="nav-item">
        <a style="color:white" class="nav-link" >Housing</a>
      </li>
        <li routerLink="/parking" routerLinkActive="active" class="nav-item">
        <a style="color:white" class="nav-link">Parking</a>
      </li>
    </ul>
    </div>
    </div>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>




<!-- style="background-color:orange;" -->
<!-- <div class="row" >
<div class="col-md-1" >

</div> -->
<!-- <div class="col-md-10 container" > -->

  <app-routedisplay></app-routedisplay>
 <!--<router-outlet></router-outlet>-->
<!-- </div>

<div class="col-md-1" >

</div> -->
<!-- 
</div> -->

<!-- 
<footer>
  <p>Created by: James Yonker, S.K.</p>
  <p>Contact information: <a href="mailto:jim.yonker@yahoo.com">
  jim.yonker@yahoo.com</a>.</p>
</footer> -->






</div>





