

    <h2>Buildings</h2>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="myInput" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 

    <br/>

<!-- <a href="#demo" data-toggle="collapse">Collapsible</a>
<div id="demo"> -->
 <ul id="myUL" class="collapse list-group" style="overflow:hidden; overflow-y:scroll; height: 560px;">
   

<li class="buildinglistitem list-group-item">
    <a href="./building/AB"  routerLinkActive="active">
      <span style="color:limegreen;">AB</span>
      <span style="color:green;">- Activity Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/AD">
      <span style="color:limegreen;">AD</span>
      <span style="color:green;">- Administration
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/AH1">
      <span style="color:limegreen;">AH1</span>
      <span style="color:green;">- Art and Humanities 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/AH2">
      <span style="color:limegreen;">AH2</span>
      <span style="color:green;">- Art and Humanities 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ATC">
      <span style="color:limegreen;">ATC</span>
      <span style="color:green;">- Edith O'Donnell Arts & Technology
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/BE">
      <span style="color:limegreen;">BE</span>
      <span style="color:green;">- Lloyd V. Berkner Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/BSB">
      <span style="color:limegreen;">BSB</span>
      <span style="color:green;">- Bioengineering and Sciences Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CB">
      <span style="color:limegreen;">CB</span>
      <span style="color:green;">- Classroom Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CB1">
      <span style="color:limegreen;">CB1</span>
      <span style="color:green;">- Classroom Building 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CB2">
      <span style="color:limegreen;">CB2</span>
      <span style="color:green;">- Classroom Building 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CB3">
      <span style="color:limegreen;">CB3</span>
      <span style="color:green;">- Classroom Building 3
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CR">
      <span style="color:limegreen;">CR</span>
      <span style="color:green;">- Callier Center Richardson
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/CRA">
      <span style="color:limegreen;">CRA</span>
      <span style="color:green;">- Callier Richardson Addition 
        </span></a></li>

 <li class="buildinglistitem list-group-item">
    <a href="./building/DGA">
      <span style="color:limegreen;">DGA</span>
      <span style="color:green;">- Davidson-Gundy Alumni Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/DHW">
      <span style="color:limegreen;">DHW</span>
      <span style="color:green;">- Dining Hall West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ECSNN">
      <span style="color:limegreen;">ECSNN</span>
      <span style="color:green;">- North Engineering & Computer Science
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ECSSS">
      <span style="color:limegreen;">ECSSS</span>
      <span style="color:green;">- South Engineering & Computer Science  
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/FA">
      <span style="color:limegreen;">FA</span>
      <span style="color:green;">- Founders West Annex
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/FM">
      <span style="color:limegreen;">FM</span>
      <span style="color:green;">- Facilities Management
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/FN">
      <span style="color:limegreen;">FN</span>
      <span style="color:green;">- Founders North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/FO">
      <span style="color:limegreen;">FO</span>
      <span style="color:green;">- Founders Building
        </span></a></li>
    
<li class="buildinglistitem list-group-item">
    <a href="./building/GC">
      <span style="color:limegreen;">GC</span>
      <span style="color:green;">- Cecil and Ida Green Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/GR">
      <span style="color:limegreen;">GR</span>
      <span style="color:green;">- Cecil H. Green Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/HH">
      <span style="color:limegreen;">HH</span>
      <span style="color:green;">- Karl Hoblitzelle Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/JO">
      <span style="color:limegreen;">JO</span>
      <span style="color:green;">- Erik Jonsson Academic Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/JSOM">
      <span style="color:limegreen;">JSOM</span>
      <span style="color:green;">- Naveen Jindal School of Management
        </span></a></li>
        
<li class="buildinglistitem list-group-item">
    <a href="./building/MC">
      <span style="color:limegreen;">MC</span>
      <span style="color:green;">- Eugene McDermott Library
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ML1">
      <span style="color:limegreen;">ML1</span>
      <span style="color:green;">- Modular Labs 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ML2">
      <span style="color:limegreen;">ML2</span>
      <span style="color:green;">- Modular Labs 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/NB">
      <span style="color:limegreen;">NB</span>
      <span style="color:green;">- North Office Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/NL">
      <span style="color:limegreen;">NL</span>
      <span style="color:green;">- North Lab
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/PD">
      <span style="color:limegreen;">PD</span>
      <span style="color:green;">- Police
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/PHA">
      <span style="color:limegreen;">PHA</span>
      <span style="color:green;">- Physics Annex
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/PHY">
      <span style="color:limegreen;">PHY</span>
      <span style="color:green;">- Physics Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/RCW">
      <span style="color:limegreen;">RCW</span>
      <span style="color:green;">- Recreation Center West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/RL">
      <span style="color:limegreen;">RL</span>
      <span style="color:green;">- Natural Science and Engineering Research Lab
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ROC">
      <span style="color:limegreen;">ROC</span>
      <span style="color:green;">- Research and Operations Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/ROW">
      <span style="color:limegreen;">ROW</span>
      <span style="color:green;">- Research and Operations Center West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SB">
      <span style="color:limegreen;">SB</span>
      <span style="color:green;">- Service Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SG">
      <span style="color:limegreen;">SG</span>
      <span style="color:green;">- Safety and Grounds
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SLC">
      <span style="color:limegreen;">SLC</span>
      <span style="color:green;">- Science Learning Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SPN">
      <span style="color:limegreen;">SPN</span>
      <span style="color:green;">- Synergy Park North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SP2">
      <span style="color:limegreen;">SP2</span>
      <span style="color:green;">- Synergy Park North 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SSB">
      <span style="color:limegreen;">SSB</span>
      <span style="color:green;">- Student Services Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SSA">
      <span style="color:limegreen;">SSA</span>
      <span style="color:green;">- Student Services Building Addition
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SU">
      <span style="color:limegreen;">SU</span>
      <span style="color:green;">- Student Union 
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/SUFC">
      <span style="color:limegreen;">SUFC</span>
      <span style="color:green;">- Student Union Food Court
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/TH">
      <span style="color:limegreen;">TH</span>
      <span style="color:green;">- Theatre
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/VBC">
      <span style="color:limegreen;">VBC</span>
      <span style="color:green;">- Visitor Centre and University Bookstore
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./building/WSTC">
      <span style="color:limegreen;">WSTC</span>
      <span style="color:green;">- Waterview Science and Technology Center
        </span></a></li>



</ul>   
<!-- </div> -->

<router-outlet></router-outlet>



<!-- <h2>An Ordered HTML List</h2>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>     
    -->

