

<h2>Buildings</h2>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="myInput" type="text" placeholder="Search" onkeydown="myFunction()" onkeyup="myFunction()" autocomplete="off">
    </form> 

    <br/>


 <ul id="myUL" class="collapse list-group" style="overflow:hidden; overflow-y:scroll; height: 560px;">
   

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/AB']"  routerLinkActive="active">
      <span style="color:limegreen;">AB</span>
      <span style="color:green;">- Activity Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/AD']"  routerLinkActive="active">
      <span style="color:limegreen;">AD</span>
      <span style="color:green;">- Administration
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/AH1']"  routerLinkActive="active">
      <span style="color:limegreen;">AH1</span>
      <span style="color:green;">- Art and Humanities 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/AH2']"  routerLinkActive="active">
      <span style="color:limegreen;">AH2</span>
      <span style="color:green;">- Art and Humanities 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ATC']"  routerLinkActive="active">
      <span style="color:limegreen;">ATC</span>
      <span style="color:green;">- Edith O'Donnell Arts & Technology
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/BE']"  routerLinkActive="active">
      <span style="color:limegreen;">BE</span>
      <span style="color:green;">- Lloyd V. Berkner Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/BSB']"  routerLinkActive="active">
      <span style="color:limegreen;">BSB</span>
      <span style="color:green;">- Bioengineering and Sciences Building
        </span></a></li>

<!--<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CB']"  routerLinkActive="active">
      <span style="color:limegreen;">CB</span>
      <span style="color:green;">- Classroom Building
        </span></a></li>-->

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CB1']"  routerLinkActive="active">
      <span style="color:limegreen;">CB1</span>
      <span style="color:green;">- Classroom Building 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CB2']"  routerLinkActive="active">
      <span style="color:limegreen;">CB2</span>
      <span style="color:green;">- Classroom Building 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CB3']"  routerLinkActive="active">
      <span style="color:limegreen;">CB3</span>
      <span style="color:green;">- Classroom Building 3
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CR']"  routerLinkActive="active">
      <span style="color:limegreen;">CR</span>
      <span style="color:green;">- Callier Center Richardson
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/CRA']"  routerLinkActive="active">
      <span style="color:limegreen;">CRA</span>
      <span style="color:green;">- Callier Richardson Addition 
        </span></a></li>

 <li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/DGA']"  routerLinkActive="active">
      <span style="color:limegreen;">DGA</span>
      <span style="color:green;">- Davidson-Gundy Alumni Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/DHW']"  routerLinkActive="active">
      <span style="color:limegreen;">DHW</span>
      <span style="color:green;">- Dining Hall West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ECSNN']"  routerLinkActive="active">
      <span style="color:limegreen;">ECSNN</span>
      <span style="color:green;">- North Engineering & Computer Science
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ECSSS']"  routerLinkActive="active">
      <span style="color:limegreen;">ECSSS</span>
      <span style="color:green;">- South Engineering & Computer Science  
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/FA']"  routerLinkActive="active">
      <span style="color:limegreen;">FA</span>
      <span style="color:green;">- Founders West Annex
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/FM']"  routerLinkActive="active">
      <span style="color:limegreen;">FM</span>
      <span style="color:green;">- Facilities Management
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/FN']"  routerLinkActive="active">
      <span style="color:limegreen;">FN</span>
      <span style="color:green;">- Founders North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/FO']"  routerLinkActive="active">
      <span style="color:limegreen;">FO</span>
      <span style="color:green;">- Founders Building
        </span></a></li>
    
<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/GC']"  routerLinkActive="active">
      <span style="color:limegreen;">GC</span>
      <span style="color:green;">- Cecil and Ida Green Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/GR']"  routerLinkActive="active">
      <span style="color:limegreen;">GR</span>
      <span style="color:green;">- Cecil H. Green Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/HH']"  routerLinkActive="active">
      <span style="color:limegreen;">HH</span>
      <span style="color:green;">- Karl Hoblitzelle Hall
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/JO']"  routerLinkActive="active">
      <span style="color:limegreen;">JO</span>
      <span style="color:green;">- Erik Jonsson Academic Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/JSOM']"  routerLinkActive="active">
      <span style="color:limegreen;">JSOM</span>
      <span style="color:green;">- Naveen Jindal School of Management
        </span></a></li>
        
<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/MC']"  routerLinkActive="active">
      <span style="color:limegreen;">MC</span>
      <span style="color:green;">- Eugene McDermott Library
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ML1']"  routerLinkActive="active">
      <span style="color:limegreen;">ML1</span>
      <span style="color:green;">- Modular Labs 1
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ML2']"  routerLinkActive="active">
      <span style="color:limegreen;">ML2</span>
      <span style="color:green;">- Modular Labs 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/NB']"  routerLinkActive="active">
      <span style="color:limegreen;">NB</span>
      <span style="color:green;">- North Office Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/NL']"  routerLinkActive="active">
      <span style="color:limegreen;">NL</span>
      <span style="color:green;">- North Lab
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/PD']"  routerLinkActive="active">
      <span style="color:limegreen;">PD</span>
      <span style="color:green;">- Police
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/PHA']"  routerLinkActive="active">
      <span style="color:limegreen;">PHA</span>
      <span style="color:green;">- Physics Annex
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/PHY']"  routerLinkActive="active">
      <span style="color:limegreen;">PHY</span>
      <span style="color:green;">- Physics Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/RCW']"  routerLinkActive="active">
      <span style="color:limegreen;">RCW</span>
      <span style="color:green;">- Recreation Center West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/RL']"  routerLinkActive="active">
      <span style="color:limegreen;">RL</span>
      <span style="color:green;">- Natural Science and Engineering Research Lab
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ROC']"  routerLinkActive="active">
      <span style="color:limegreen;">ROC</span>
      <span style="color:green;">- Research and Operations Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/ROW']"  routerLinkActive="active">
      <span style="color:limegreen;">ROW</span>
      <span style="color:green;">- Research and Operations Center West
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SB']"  routerLinkActive="active">
      <span style="color:limegreen;">SB</span>
      <span style="color:green;">- Service Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SG']"  routerLinkActive="active">
      <span style="color:limegreen;">SG</span>
      <span style="color:green;">- Safety and Grounds
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SLC']"  routerLinkActive="active">
      <span style="color:limegreen;">SLC</span>
      <span style="color:green;">- Science Learning Center
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SPN']"  routerLinkActive="active">
      <span style="color:limegreen;">SPN</span>
      <span style="color:green;">- Synergy Park North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SP2']"  routerLinkActive="active">
      <span style="color:limegreen;">SP2</span>
      <span style="color:green;">- Synergy Park North 2
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SSB']"  routerLinkActive="active">
      <span style="color:limegreen;">SSB</span>
      <span style="color:green;">- Student Services Building
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SSA']"  routerLinkActive="active">
      <span style="color:limegreen;">SSA</span>
      <span style="color:green;">- Student Services Building Addition
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SU']"  routerLinkActive="active">
      <span style="color:limegreen;">SU</span>
      <span style="color:green;">- Student Union 
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/SUFC']"  routerLinkActive="active">
      <span style="color:limegreen;">SUFC</span>
      <span style="color:green;">- Student Union Food Court
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/TH']"  routerLinkActive="active">
      <span style="color:limegreen;">TH</span>
      <span style="color:green;">- Theatre
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/VBC']"  routerLinkActive="active">
      <span style="color:limegreen;">VBC</span>
      <span style="color:green;">- Visitor Centre and University Bookstore
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a [routerLink]="['/building/WSTC']"  routerLinkActive="active">
      <span style="color:limegreen;">WSTC</span>
      <span style="color:green;">- Waterview Science and Technology Center
        </span></a></li>



</ul>   
