
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Classroom Building 1</h1>

<div style="width:300px;"><img src="../../../../assets/cb1.png" style="width:100%;height:100%;"></div>
<br/>
<br/>

<a href="http://www.utdallas.edu/locator/CB1_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>NSM Advising</div>
    <div>Student Habitat</div>
</div>