<div class="container" style="max-width:100%; width:100%; max-height: 100%;"  >

  <span class="row">
    <span class="col-md-8" >
      <div class="container" >
      <img class="img-responsive" src="../../../assets/rootMap.PNG" style='position:relative;' border="0" alt="Null">
      </div>
    </span>


    <span class="col-md-4">
      <h2> Where do the Comets live?</h2>
      <br/>
      
<li class="buildinglistitem list-group-item">
    <a href="./buildings/RNHW">
      <span style="color:Orange;">RNHW</span>
      <span style="color:green;">- Residence Hall Northwest
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./buildings/RHN">
      <span style="color:Orange;">RHN</span>
      <span style="color:green;">- Residence Hall North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./buildings/RHS">
      <span style="color:Orange;">RHS</span>
      <span style="color:green;">- Residence Hall South
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./buildings/RHSW">
      <span style="color:Orange;">RHSW</span>
      <span style="color:green;">- Residence Hall Southwest
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./buildings/RHW">
      <span style="color:Orange;">RHW</span>
      <span style="color:green;">- Residence Hall West
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RNHW">
      <span style="color:Orange;">RNHW</span>
      <span style="color:green;">- Residence Hall Northwest
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHN">
      <span style="color:Orange;">RHN</span>
      <span style="color:green;">- Residence Hall North
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHS">
      <span style="color:Orange;">RHS</span>
      <span style="color:green;">- Residence Hall South
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHSW">
      <span style="color:Orange;">RHSW</span>
      <span style="color:green;">- Residence Hall Southwest
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHW">
      <span style="color:Orange;">RHW</span>
      <span style="color:green;">- Residence Hall West
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P1">
      <span style="color:Orange;">P1</span>
      <span style="color:green;">- Phase 1
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P2">
      <span style="color:Orange;">P2</span>
      <span style="color:green;">- Phase 2
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P3">
      <span style="color:Orange;">P3</span>
      <span style="color:green;">- Phase 3
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P4">
      <span style="color:Orange;">P4</span>
      <span style="color:green;">- Phase 4
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P5">
      <span style="color:Orange;">P5</span>
      <span style="color:green;">- Phase 5
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P6">
      <span style="color:Orange;">P6</span>
      <span style="color:green;">- Phase 6
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P7">
      <span style="color:Orange;">P7</span>
      <span style="color:green;">- Phase 7
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P8A">
      <span style="color:Orange;">P8A</span>
      <span style="color:green;">- Phase 8A
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P8">
      <span style="color:Orange;">P8</span>
      <span style="color:green;">- Phase 8
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P9">
      <span style="color:Orange;">P9</span>
      <span style="color:green;">- Phase 9
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/CH6">
      <span style="color:Orange;">CH6</span>
      <span style="color:green;">- Canyon Creek Heights South
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/CH7">
      <span style="color:Orange;">CH7</span>
      <span style="color:green;">- Canyon Creek Heights North
        </span></a></li>


    
    </span>

  </span> 

</div>