<div class="container nav" style="max-width:100%; width:100%; max-height: 100%;"  >

  <span class="row">
    <span class="col-md-8" >
      <div class="container" >
      <img class="img-responsive" src="../../../assets/rootMap.PNG" style='position:relative;' border="0" alt="Null">
      </div>
    </span>


    <span class="col-md-4">
      <h2> Where do the Comets live?</h2>
      <br/>


      
<li class="buildinglistitem list-group-item">
    <a href="./housing/P1">
      <div>
      <span style="color:limegreen;">P1</span>
      <span style="color:green;">- Phase 1
        </span></div></a></li>
        
<li class="buildinglistitem list-group-item">
    <a href="./housing/P2"><div>
      <span style="color:limegreen;">P2</span>
      <span style="color:green;">- Phase 2
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P3"><div>
      <span style="color:limegreen;">P3</span>
      <span style="color:green;">- Phase 3
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P4"><div>
      <span style="color:limegreen;">P4</span>
      <span style="color:green;">- Phase 4
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P5"><div>
      <span style="color:limegreen;">P5</span>
      <span style="color:green;">- Phase 5
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P6"><div>
      <span style="color:limegreen;">P6</span>
      <span style="color:green;">- Phase 6
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P7"><div>
      <span style="color:limegreen;">P7</span>
      <span style="color:green;">- Phase 7
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P8a"><div>
      <span style="color:limegreen;">P8a</span>
      <span style="color:green;">- Phase 8a
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P8"><div>
      <span style="color:limegreen;">P8</span>
      <span style="color:green;">- Phase 8
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/P9"><div>
      <span style="color:limegreen;">P9</span>
      <span style="color:green;">- Phase 9
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHNW"><div>
      <span style="color:limegreen;">RHNW</span>
      <span style="color:green;">- Residence Hall Northwest 
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHN"><div>
      <span style="color:limegreen;">RHN</span>
      <span style="color:green;">- Residence Hall North
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHS"><div>
      <span style="color:limegreen;">RHS</span>
      <span style="color:green;">- Residence Hall South 
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHSW"><div>
      <span style="color:limegreen;">RHSW</span>
      <span style="color:green;">- Residence Hall South-West
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHW"><div>
      <span style="color:limegreen;">RHW</span>
      <span style="color:green;">- Residence Hall West
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/CH6"><div>
      <span style="color:limegreen;">CH6</span>
      <span style="color:green;">- Canyon Creek Height South 
        </span></div></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/CH7"><div>
      <span style="color:limegreen;">CH7</span>
      <span style="color:green;">- Canyon Creek Height North
        </span></div></a></li>

      
<!-- <li class="buildinglistitem list-group-item">
    <a href="./housing/RNHW">
      <span style="color:Orange;">RNHW</span>
      <span style="color:green;">- Residence Hall Northwest
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHN">
      <span style="color:Orange;">RHN</span>
      <span style="color:green;">- Residence Hall North
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHS">
      <span style="color:Orange;">RHS</span>
      <span style="color:green;">- Residence Hall South
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHSW">
      <span style="color:Orange;">RHSW</span>
      <span style="color:green;">- Residence Hall Southwest
        </span></a></li>

<li class="buildinglistitem list-group-item">
    <a href="./housing/RHW">
      <span style="color:Orange;">RHW</span>
      <span style="color:green;">- Residence Hall West
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RNHW">
      <span style="color:Orange;">RNHW</span>
      <span style="color:green;">- Residence Hall Northwest
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHN">
      <span style="color:Orange;">RHN</span>
      <span style="color:green;">- Residence Hall North
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHS">
      <span style="color:Orange;">RHS</span>
      <span style="color:green;">- Residence Hall South
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHSW">
      <span style="color:Orange;">RHSW</span>
      <span style="color:green;">- Residence Hall Southwest
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/RHW">
      <span style="color:Orange;">RHW</span>
      <span style="color:green;">- Residence Hall West
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P1">
      <span style="color:Orange;">P1</span>
      <span style="color:green;">- Phase 1
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P2">
      <span style="color:Orange;">P2</span>
      <span style="color:green;">- Phase 2
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P3">
      <span style="color:Orange;">P3</span>
      <span style="color:green;">- Phase 3
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P4">
      <span style="color:Orange;">P4</span>
      <span style="color:green;">- Phase 4
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P5">
      <span style="color:Orange;">P5</span>
      <span style="color:green;">- Phase 5
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P6">
      <span style="color:Orange;">P6</span>
      <span style="color:green;">- Phase 6
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P7">
      <span style="color:Orange;">P7</span>
      <span style="color:green;">- Phase 7
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P8A">
      <span style="color:Orange;">P8A</span>
      <span style="color:green;">- Phase 8A
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P8">
      <span style="color:Orange;">P8</span>
      <span style="color:green;">- Phase 8
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/P9">
      <span style="color:Orange;">P9</span>
      <span style="color:green;">- Phase 9
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/CH6">
      <span style="color:Orange;">CH6</span>
      <span style="color:green;">- Canyon Creek Heights South
        </span></a></li>

<li class="housinglistitem list-group-item">
    <a href="./housing/CH7">
      <span style="color:Orange;">CH7</span>
      <span style="color:green;">- Canyon Creek Heights North
        </span></a></li> -->


    
    </span>

  </span> 

</div>