
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Student Union</h1>

<div style="width:300px;"><img src="../../../../assets/su.png"style="width:100%;height:100%;"></div>
<br/>

<a href="http://www.utdallas.edu/locator/SU_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
<div>Center for Student Involvement</div>
<div>Comet Cafe</div>
<div>Comet Lounge</div>
<div>Evening Childcare</div>
<div>Radio UTD</div>
<div>Student Activities</div>
<div>Student Development</div>
<div>Student Government</div>
<div>Student Publications</div>
<div>The Pub</div>
</div>