<a [routerLink]="['/housing']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Phase 3</h1>

<div style="width:300px;"><img src="../../../../assets/p3-building.png" style="width:100%;height:100%;"></div>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Apartment 24</div>
    <div>Apartment 25</div>
    <div>Apartment 26</div>
    <div>Apartment 27</div>
    <div>Apartment 28</div>
    <div>Apartment 29</div>
    <div>Apartment 30</div>
    <div>Apartment 31</div>
    <div>Clubhouse (C)</div>
</div>
