
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Cecil H. Green Hall</h1>

<div style="width:300px;"><img src="../../../../assets/gr.png"style="width:100%;height:100%;"></div>
<br/>
<br/>
<a href="http://www.utdallas.edu/locator/GR_2"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Behavioral and Brain Sciences</div>
    <div>Economics, Political and Policy Sciences</div>
    <div>Interdisciplinary Studies</div>
    <div>Teacher Education</div>
</div>