
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Erik Johnson North Engineering & Computer Science</h1>

<div style="width:300px;"><img src="../../../../assets/ecsn.png" style="width:100%;height:100%;"></div>
<br/>
<br/>

<a href="http://www.utdallas.edu/locator/ECSN_2"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

<div  class="include-piece">&nbsp;</div>
<div id="page-content">
    <div>Skybridge (Third Floor)</div>
    <div>Cantrell Memorial Library</div>
    <div>Electrical Engineering</div>
    <div>Research Labs</div>
</div>