
<a [routerLink]="['/building']" class="btn btn-warning"  routerLinkActive="active">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Activity Center</h1>


<div id="body-container-full-width-white-background" class="content-container">
			<!-- <div class="page-title page-title-menu page-directions-menu" id="full-width-title"><span>Visitor Center and University Bookstore</span></div> -->

		<div style="width:300px;"><img src="../../../../assets/building_ab.png"style="width:100%;height:100%;"></div>
		<br/>
		<br/>
		<div style="width:300px;"><img src="../../../../assets/activity-center-20152.jpg" style="width:100%;height:100%;"></div>
		<br/>
		<a href="http://www.utdallas.edu/locator/AB_1"><button type="button" class="btn btn-outline-primary">Room Locator</button></a>

</div>
<div  class="include-piece">&nbsp;</div>
			<div id="page-content">
				<div>Basketball Courts</div>
				<div>Bookstore</div>
				<div>Fitness Center</div>
				<div>Indoor Soccer Court</div>
				<div>Natatorium</div>
				<div>Racquetball Courts</div>
				<br/>
				<div>Activity Center & Rec Center West</div>
				<div>Monday - Thursday: 7am-1am</div>
				<div>Friday: 7am - 10pm</div>
				<div>Saturday: 8am - 10pm</div>
				<div>Sunday: Noon - 1am</div>
				
			</div>	

