
<a href="./building" class="btn btn-warning">Go Back</a>

<br/>
<br/>

<h1 style="font-size:large;">Activity Center</h1>


<div id="body-container-full-width-white-background" class="content-container">
			<!-- <div class="page-title page-title-menu page-directions-menu" id="full-width-title"><span>Visitor Center and University Bookstore</span></div> -->

		<img src="../../../../assets/building_ab.png">

		<a href="http://www.utdallas.edu/locator/AB_1"><button type="button" class="btn btn-outline-secondary">Room Locator</button></a>

</div>
<div  class="include-piece">&nbsp;</div>
			<div id="page-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta ante nibh. Sed rutrum, justo auctor facilisis faucibus, ipsum nisi fringilla enim, a pellentesque tortor sem non lorem. Vestibulum id felis eget metus placerat interdum. Integer sit amet metus quis urna aliquam sollicitudin. Nullam aliquam nunc nec orci pulvinar dapibus. Nulla sodales orci id mauris vestibulum, eget mattis sapien commodo. Quisque ante erat, ullamcorper eget pretium sed, malesuada quis nibh. Quisque in mauris malesuada, cursus magna id, ultricies lacus. Vestibulum vel auctor turpis, ut congue sem. Nulla id quam sed leo euismod scelerisque. Fusce imperdiet nunc ac elementum porta.
				Phasellus a condimentum est. Phasellus vitae ultrices odio. Nullam quis magna fringilla velit iaculis efficitur sit amet ac dolor. Suspendisse ex lectus, finibus in pulvinar in, pretium at mauris. In vel eleifend lectus. Proin porta, velit vitae lobortis scelerisque, mi ex rutrum diam, ac imperdiet orci dui at dolor. Vestibulum ornare dolor nec lectus aliquam, id ultricies ligula vestibulum. Morbi scelerisque dui vitae porta volutpat. In faucibus, massa in vehicula commodo, diam turpis malesuada sapien, non euismod turpis sem a quam. Aliquam tempus aliquam blandit. Nullam vitae nisi auctor, viverra ipsum a, elementum odio. Cras pellentesque sapien in mi convallis viverra. Nulla blandit, leo sit amet bibendum blandit, lectus risus semper elit, dictum tempor purus nulla sit amet dui. Pellentesque sollicitudin placerat metus nec ullamcorper. Nullam mollis, nibh vitae tempor tristique, est magna sagittis purus, non dapibus ex libero vel lorem. Donec vel volutpat odio.
			</div>	

